[submodule "protos"]
	path = protos
	url = https://github.com/the-cloudkeeper-project/cloudkeeper-proto.git
[submodule "status-codes"]
	path = status-codes
	url = https://github.com/the-cloudkeeper-project/cloudkeeper-status-codes.git
